<nav class="navbar navbar-default">
    <!-- Navigation bar und toggle button für kleine Devices -->
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#nav_content">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">TU-ToDo</span>
        </div>
        <!-- Die eigentlichen Navigations-Elemente -->
        <div class="collapse navbar-collapse"
             id="nav_content">
            <ul class="nav navbar-nav">
                <li class="{% if active == 'index' %} active {% endif %}"><a href="{% url 'index' %}">Liste</a></li>
                <li><a class="{% if active == 'settings' %} active {% endif %}" href="#">Einstellungen</a></li>
                <li><a class="" href="#">Ausloggen</a></li>
            </ul>
        </div>
    </div>
</nav>