<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>TUTodo</title>

    <link rel="stylesheet" href="{% static 'TUTodo/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'TUTodo/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'TUTodo/css/main.css' %}">
    <script src="{% static 'TUTodo/js/jquery/jquery.js' %}"></script>
    <script src="{% static 'TUTodo/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'TUTodo/js/moment-with-locales.js' %}"></script>
    <script src="{% static 'TUTodo/js/bootstrap-datetimepicker.min.js' %}"></script>
</head>
<body>
{% block content %}
{% endblock %}
<footer class="text-center">
    <a class="btn btn-link" href="{% url 'impressum' %}">Impressum</a>
</footer>
</body>
</html>