{% extends 'TUTodo/base.html' %}
{% block content %}
    {% include 'TUTodo/includes/navbar.html' with active='index' %}
    <div class="container">
        <div class="panel panel-default">
            <form method="post" action="{% url 'TUTodo:edit' todo.id %}">
                {% csrf_token %}
                <div class="panel-heading">
                    <h4 class="modal-title">Bearbeiten</h4>
                </div>
                <div class="panel-body">
                    <p>Du bearbeitest gerade Dein TODO "{{ todo.title }}"</p>
                    <label for="title">Titel</label>
                    <input class="form-control" type="text" value="{{ todo.title }}" id="title" name="title"
                           placeholder="Titel"/>
                    <label for="deadline">Deadline</label>

                    <div style="position:relative;">
                        <input class="form-control datetime"
                               id=""
                               value="{{ todo.deadline|date:"d.m.Y H:i" }}"
                               type="text"
                               name="deadline"/>
                    </div>
                    <label for="finished">Finished</label>

                    <div class="input-group">
                        <input class="form-control" id="finished" value="{{ todo.finished }}" type="number"
                               name="finished" min="0"
                               max="100"/>
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="save-btn btn btn-success">
                        <span class="text">Speichern</span>
                    </button>
                    <button type="reset" class="btn btn-default">Zurücksetzen</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        $('.datetime').datetimepicker({locale: 'de', sideBySide: true, format: 'DD.MM.YYYY HH:mm'});
    </script>
{% endblock %}